# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Large files & Datasets
dataset_repo.zip
datasets/
temp_dataset/
mlruns/
runs/
*.pt
*.onnx
test/*.mp4
test/*.avi
test/*.mkv

# IDEs
.vscode/
.idea/
.project
.pydevproject
.settings/

# OS files
.DS_Store
Thumbs.db
